%h1= @user.name
= image_tag(@user.gravatar_url)

%h3= mail_to @user.email

%p Balance: #{@user.balance.to_i}


// need button to each group show page that this user is a member of:
//so "Student Group", say. "go to group"
//"House Group", go to group