%body.welcome-container
- if user_signed_in
  .jumbotron.title-page
    %h1 Fareshare
    %h3 The Payment Organisation App Where Fare's Fair.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugit eaque, nulla cum facere. Explicabo itaque ad molestiae unde qui, esse similique quos tempora a quae sed quisquam doloribus! Dicta.
    .btn.btn-primary.btn-lg.green
      = link_to "Sign up", new_user_registration_path
    .btn.btn-primary.btn-lg.green
      = link_to "Sign in", new_user_session_path
    .btn.btn-primary.btn-lg.green
      = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)