.profile {
  text-align: center;
}
.invoice-table {
  border: 1px solid white;
  margin:0 auto;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 30px;

  td, th {
    padding: 5px;
    text-align: center;
  }
}